</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Slickmarket</b>
    </div>
    <strong>Copyright &copy; 2020.</strong> All rights reserved.
</footer>
</div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/adminlte.min.js"></script>
<script src="/assets/js/scripts.js"></script>
</body>
</html>